*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%; /* makes sure our HTML takes up 100% of the browser window */
  font-size: 100%;
}

body {
  background-color: #B5EBE4;
  color: #2053A6;
}

/*.title {
   color: #B5EBE4;
}

.newRoomButton {
  background-color: #B5EBE4;
  color: #0C2D62;
}*/
/*
.room-list {
  color: #B5EBE4;
}*/
/*
.modalBox {
  background-color: #B5EBE4;
  color: #0C2D62;
}*/

/*.chatRooms {
  float: left;
}*/
/*
.roomsList {
  float: left;
  background-color: #2053A6;
}*/

/*.username {
  font-weight: bold;
  float: left;
  padding-right: 30px;
}

.sentAt {
  font-style: italic;
  float: right;
}

.content {
  float: left;
}*/
